body {
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
}
.face {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 100px #000;
}
.face::after,
.face::before {
  transform: rotate(6deg);
  position: absolute;
  right: 20px;
  top: 10px;
  content: '';
  width: 74px;
  height: 120px;
  border-radius: 50% 50% 35% 35%;
  background-color: #FFD1AD;
  z-index: 1;
}
.face::before {
  transform: rotate(-6deg);
  top: 10px;
  left: 20px;
}
.face .ear {
  transform: rotate(40deg);
  z-index: 0;
  position: absolute;
  top: -53px;
  right: -35px;
  width: 90px;
  height: 80px;
  background-color: #000;
  border-radius: 47%;
}
.face .ear + .ear {
  transform: rotate(-15deg);
  top: -53px;
  left: -35px;
}
.face .eye {
  overflow: hidden;
  animation: eye 3s infinite;
  transform: rotate(-3.5deg);
  display: flex;
  align-items: flex-end;
  z-index: 2;
  height: 50px;
  width: 20px;
  background-color: #fff;
  border: 1px solid black;
  bottom: 60px;
  border-radius: 50% 50% 30% 30%;
}
.face .eye + .eye {
  transform: rotate(3.5deg);
  margin-left: 3px;
}
.face .eye::after {
  width: 10px;
  height: 26px;
  background-color: #000;
  content: '';
  border-radius: 50%;
}
.face .eye:first-child::after {
  margin-left: 10px;
}
.face .nose {
  position: absolute;
  display: inline;
  z-index: 4;
  margin-top: 31px;
  width: 38px;
  height: 10px;
  border-radius: 50%;
  border-top: 2px solid #000;
}
.face .nose::before {
  content: '';
  margin-top: 1px;
  display: inline-block;
  width: 38px;
  height: 20px;
  background-color: #000;
  border-radius: 47%;
}
.face .mouth::before,
.face .mouth::after {
  position: absolute;
  bottom: 0px;
  content: '';
  display: block;
  width: 100px;
  height: 45px;
  border-radius: 50%;
  transform: rotate(20deg);
  background-color: #FFD1AD;
}
.face .mouth::before {
  left: 0;
  transform: rotate(20deg);
}
.face .mouth::after {
  right: 0;
  transform: rotate(-20deg);
}
@keyframes eye {
  10% {
    height: 2px;
    background-color: #000;
  }
  7%,
  13% {
    background-color: #fff;
    height: 50px;
  }
}
